@charset "utf-8";
/***
@Author:     webpoin
@Email:      1357113262@qq.com
***/
body,dl,dd,h2,h3,h4,h5,h6,p,form{margin:0;}
ol,li,ul,td{margin:0; padding:0;}
img{border:none;vertical-align:top; }
ul{list-style-type:none;}
html{overflow-x:hidden;}
header,nav,section,article,footer{display:block;margin:0;}

h1{font-size:32px;}
h2{font-size:24px;}
h3{font-size:18px;}
h4{font-size:16px;}
h5{font-size:14px;}
h6{font-size:12px;}
			
.m5{margin:5px}			.m10{margin:10px}			.m15{margin:15px}			.m20{margin:20px}			.m30{margin:30px}			.m50{margin:50px}	
.ml5{margin-left:5px}	.ml10{margin-left:10px}		.ml15{margin-left:15px}		.ml20{margin-left:20px}		.ml30{margin-left:30px}		.ml50{margin-left:50px}		.ml100{margin-left:100px}
.mt5{margin-top:5px}	.mt10{margin-top:10px}		.mt15{margin-top:15px}		.mt20{margin-top:20px}		.mt30{margin-top:30px}		.mt50{margin-top:50px}		.mt100{margin-top:100px}
.mb5{margin-bottom:5px}	.mb10{margin-bottom:10px}	.mb15{margin-bottom:15px}	.mb20{margin-bottom:20px}	.mb30{margin-bottom:30px}	.mb50{margin-bottom:50px}	.mb100{margin-bottom:100px}
.mr5{margin-right:5px}	.mr10{margin-right:10px}	.mr15{margin-right:15px}	.mr20{margin-right:20px}	.mr30{margin-right:30px}	.mr50{margin-right:50px}	.mr100{margin-right:100px}
.p5{padding:5px;}		.p10{padding:10px;}			.p15{padding:15px;}			.p20{padding:20px;}
.pt5{padding-top:5px}	.pt10{padding-top:10px}		.pt15{padding-top:15px}		.pt20{padding-top:20px}		.pt30{padding-top:30px}		.pt50{padding-top:50px}		.pt100{padding-top:100px;}
.pb5{padding-bottom:5px}.pb10{padding-bottom:10px}	.pb15{padding-bottom:15px}	.pb20{padding-bottom:20px}	.pb30{padding-bottom:30px}	.pb50{padding-bottom:50px}	.pb100{padding-bottom:100px}
.pl5{padding-left:5px}	.pl10{padding-left:10px}	.pl15{padding-left:15px}	.pl20{padding-left:20px}	.pl30{padding-left:30px}	.pl50{padding-left:50px}	.pl100{padding-left:100px}
.pr5{padding-right:5px}	.pr10{padding-right:10px}	.pr15{padding-right:15px}	.pr20{padding-right:20px}	.pr30{padding-right:30px}	.pr50{padding-right:50px}	.pr100{padding-right:100px}
.f12{font-size:12px;}	.f14{font-size:14px;}	.f16{font-size:16px;}
.l18{line-height:18px;}	.l22{line-height:22px;}	.l24{line-height:24px;}	.l26{line-height:26px;}	.l28{line-height:28px;}	.l30{line-height:30px; }.l36{line-height:36px; }
.bp3{border:1px solid #ddd;padding:3px;}
.mb0{margin-bottom:0; }

.fl{float:left;} .fr{float:right;}
.oh{overflow:hidden;}
.se{overflow:hidden;text-indent:-999em;}
.ti{text-indent:2em;}.ti0{text-indent:0; }
.tc{text-align:center;}.tl{text-align:left;}.tr{text-align:right;}
.db{display:block;} .di{display:inline;} .dib {display:inline-block;*display:inline;*zoom:1;}
.did,.dil,.dia{letter-spacing:-0.5em;*letter-spacing:normal;}
.ls{letter-spacing:-0.5em;}.lsn{letter-spacing:normal;}
.dia{*word-spacing:-0.5em;}.dia>a{*word-spacing:normal;}
.ws{*word-spacing:-0.5em; }.wsn{*word-spacing:normal;}
.did>div,.dil>li,.dia>a{display:inline-block;*display:inline;*zoom:1;letter-spacing:normal;vertical-align:top;}
.vt{vertical-align:top;}.vb{vertical-align:bottom; }.vm{vertical-align:middle; }
.pr{position:relative;}.pa{position:absolute;}
.cs:after{content:" ";display: block;visibility:hidden;height: 0;clear: both;} .cs{zoom:1;}

.bbd{border-bottom:1px dashed #ddd; } .b1{border:1px solid #ddd;}
.mt40{margin-top:40px; }
.c666{color:#666; }
.c999{color:#999; }
.w720{width:720px;}.w696{width:696px; }.w294{width:294px; }.w270{width:270px; }
.dian li{background:url(../images/dian.gif) no-repeat left center; padding-left:10px;}
.abd{ border:1px solid #ddd;border-radius:2px;padding:3px 5px;}
.bp3{border:1px solid #ddd; padding:3px; }

body{font:normal 12px/1.67 "\5b8b\4f53", Arial,Tahoma,Helvetica,sans-serif;color:#333;}
a{text-decoration:none;white-space:nowrap;}
p a{color:#465500;}
p a:hover{color:#ef0000; }

.a1 a,a.a1{color:#333;}
.a1 a:hover,a.a1:hover{color:#f00;}
.a2 a,a.a2{color:#333;}
.a2 a:hover,a.a2:hover{color:#f90;text-decoration:underline; }
.a3 a,a.a3{color:#f90;}
.a3 a:hover,a.a3:hover{text-decoration:underline;}

.center{width:1000px;margin-left:auto;margin-right:auto;overflow:hidden;}


/*
.head_logo{margin-top:-11px;}
.header ul{width:390px;margin-top:20px;margin-left:10px; color:#666;line-height:22px;  }
.header li{width:195px;}

.head_nav { line-height:40px;background:#669933;font-weight:bold;z-index:222;position:relative;
box-shadow:0 2px 2px #d3e2c1;
-moz-box-shadow:0 2px 2px #d3e2c1;
-webkit-box-shadow:0 2px 2px #d3e2c1;
 filter: progid:DXImageTransform.Microsoft.Shadow(color='#d3e2c1',direction=180, Strength=5);
}
.head_nav a{width:109px;margin-top:2px;  border-left:1px solid #97c626;border-right:1px solid #598500; color:#fff; }
.head_nav a.active{background:#fff;color:#477e02;}
.head_nav a.one{border-left:none;}
.head_nav a.last{border-right:none;}

.foot_nav{background:#693;color:#fff;line-height:36px;height:36px;  }
.foot_nav a{padding:0 10px; *vertical-align:middle;  }
.copyright{color:#666;line-height:24px;}



#slides{position:relative;height:350px;background:url(../images/glo_ban_bkg.png) no-repeat bottom center;  }
.slidesjs-navigation{position:absolute;z-index:999;display:block;float:left;width:50px;height:50px;top:150px;left:50%;text-align:center;
	background:rgba(0,0,0,0.2); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);}
.slidesjs-navigation img{position:static;}
.slidesjs-next{margin-left:489px; }
.slidesjs-previous{margin-left:-489px; }
.slidesjs-container img{position:absolute; }
.slidesjs-pagination{width:100%;text-align:center;  height:15px;position:absolute;top:300px;z-index:999;}
.slidesjs-pagination-item{display:inline-block;*display:inline; *zoom:1;  margin:0 5px; }
.slidesjs-pagination-item a{display:block;width:15px;height:15px;background:rgba(1,1,1,0.2); text-indent:-999em;overflow:hidden;
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);}
.slidesjs-pagination-item a.active{background:#73a145; }


.shengming{border-bottom:1px solid #ddd;line-height:31px;}
.shengming strong{display:inline-block;*display:inline; *zoom:1;padding-left:25px;margin-right:10px;color:#fff;background:url(../images/icon_sound.gif) no-repeat 12px center #693;  }

.location{height:26px;}
.location strong{padding-left:15px;  background:url(../images/icon_home.gif) no-repeat left center;}
.location input[type="text"]{float:left;margin:0;width:235px;padding-left:25px;height:22px;line-height:22px;color:#999;  background:url(../images/icon_search.gif) no-repeat 5px center;border:1px solid #97c626; }
.location input[type="submit"]{float:left;margin:0;width:76px;height:26px;line-height:26px;color:#fff;text-align:center;border:none;background:#7cb30d;font-size:14px;font-weight:bold;     }


.search{line-height:34px;height:36px; }
.search strong{color:#4f7d15; }
.search div{width:308px;*margin-top:8px;}
.search form{width:338px;}
.search input[type="text"]{height:34px;  width:250px;line-height:32px;   float:left;margin:0;padding:0 5px;border:1px solid #97c626;color:#999;  }
.search input[type="submit"]{height:36px;width:76px; float:left;margin:0;font-size:14px;color:#fff;font-weight:bold;  padding:0;border:none;background:#97c626;}

*/